<h4>Bonjour {{ firstname }} ! </h4>

<p>De nouveaux fichiers ont été ajoutés sur JCloud dans le dossier {{ dossier }} !</p>
<p>Vous pouvez les consulter ici : <a href="{{ url }}">{{ url }}</a></p>

<p>A très bientôt sur JCloud !</p>

