<h3>Bonjour {{ name }},</h3>
<p><strong>Bienvenue sur JCloud !</strong></p>
<p>Suite à ton inscription, tu dois valider ton adresse email en cliquant sur le lien suivant :</p>
<a href="{{ url }}">{{ url }}</a>
<p>Suite à cette validation, l'administrateur devra lui aussi valider ton compte !</p>

<p>A très bientôt sur JCloud!</p>